html{
    height: 100%;
    font-size: 18px;
    font-feature-settings: "palt";
}
body{
    margin:0;
    height: 100%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","游ゴシック Medium","Yu Gothic",YuGothic,YuGothicMedium,"Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
    line-height: 1.4;
}
html > span{
    color: hsl(0, 0%, 95%);
}

a{
    color: #00aaff;
}

span{
    user-select: none;
}
br{
    user-select: none;
}

#side {
    width: 11rem;
    display: flex;
    flex-flow: column;
}

#side-box {
    height: 100%;
    width: 100%;
    flex: 1;
    float: left;
    background: hsl(0, 0%, 18%);
    overflow-y: auto;
}
.side-item{
    height: 48px;
    margin: 0px 8px;
    padding: 8px 0px;
    font-size: 1rem;
    background: hsl(0, 0%, 18%);
    border-bottom: solid 1px hsl(0, 0%, 30%);
    display: flex;
    align-items: center;
}
.side-item .icon{
    margin-left: 0.25rem;
    margin-right: 0.5rem;
}

#side-footer{
    height: 56px;
    background: hsl(0, 0%, 25%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fa-side{
    font-size: 30px;
}

.section-label{
    font-size: 0.95rem;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    margin-bottom: 1rem;
}
.section-item-label{
    font-size: 0.7rem;
    font-weight: bold;
    color: hsl(132, 2%, 60%);
}
.section-text{
    font-size: 0.85rem;
    color: hsl(0, 0%, 75%);
}

hr{
    background-color: hsl(0, 0%, 38%);
}
.section-div hr{
    margin: 2rem 0rem;
}


#main{
    height: 100%;
    background: hsl(0, 0%, 20%);
    flex: 1;
    overflow: auto;
}
.main-content{
    margin: 1.5rem;
}
.main-section{
    margin-bottom: 1.5rem;
}
.content-item{
    background: hsl(0, 0%, 20%);
    padding: 0.75rem;
}


/* === ボタンを表示するエリア ============================== */
.switchArea {
    position       : relative; 
    width          : 2.8rem;               /* ボタンの横幅       */
    background     : #fff;                /* デフォルト背景色   */
    border-radius: 1.5rem;
}

/* === チェックボックス ==================================== */
.switchArea input[type="checkbox"] {
    display        : none;           /* チェックボックス非表示 */
}

/* === チェックボックスのラベル（標準） ==================== */
.switchArea label {
    display        : block;               /* ボックス要素に変更 */
    box-sizing     : border-box;          /* 枠線を含んだサイズ */
    height         : 1.35rem;                /* ボタンの高さ       */
    border         : 2px solid #8c8c8c;   /* 未選択タブのの枠線 */
    border-radius  : 0.675rem;                /* 角丸               */
    cursor: pointer;
}

/* === チェックボックスのラベル（ONのとき） ================ */
.switchArea input[type="checkbox"]:checked +label {
    border-color   : #5eb05e;             /* 選択タブの枠線     */
}

/* === 丸部分のSTYLE（標準） =============================== */
.switchArea .swImg {
    position       : absolute;            /* 親要素からの相対位置*/
    width          : 0.9rem;                /* 丸の横幅           */
    height         : 0.9rem;                /* 丸の高さ           */
    background     : #8c8c8c;             /* カーソルタブの背景 */
    top            : 4px;                 /* 親要素からの位置   */
    left           : 4px;                 /* 親要素からの位置   */
    border-radius  : 0.45rem;                /* 角丸               */
    transition     : .2s;                 /* 滑らか変化         */
    pointer-events: none;
}

/* === 丸部分のSTYLE（ONのとき） =========================== */
.switchArea input[type="checkbox"]:checked ~ .swImg {
    transform      : translateX(1.4rem);    /* 丸も右へ移動       */
    background     : #5eb05e;             /* カーソルタブの背景 */
}