html{
    height: 100%;
}
body{
    margin:0;
    height: 100%;
}
span{
    color: hsl(0, 0%, 90%);
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
}

#side {
    width: 12rem;
    display: flex;
    flex-flow: column;
}

#side-box {
    height: 100%;
    width: 100%;
    flex: 1;
    float: left;
    background: hsl(0, 0%, 18%);
    overflow-y: auto;
}
.side-item{
    height: 3rem;
    margin: 0px 8px;
    padding: 8px 0px;
    font-size: 1rem;
    background: hsl(0, 0%, 18%);
    border-bottom: solid 1px hsl(0, 0%, 30%);
    display: flex;
    align-items: center;
}
.side-item .icon{
    margin-left: 0.25rem;
    margin-right: 0.5rem;
}

#side-footer{
    min-height: 3.5rem;
    background: hsl(0, 0%, 25%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}



#main{
    height: 100%;
    background: hsl(0, 0%, 15%);
    flex: 1;
    overflow: auto;
}
.main-content{
    margin: 1rem;
}
.main-section{
    margin-bottom: 1.5rem;
}
.content-item{
    background: hsl(0, 0%, 20%);
    padding: 0.75rem;
}